In [2]:
import numpy as np 
import pandas as pd

In [6]:
df = pd.read_csv("Sample.csv",encoding="latin 1")

In [8]:
df.head(3)

,Order Date,Customer Name,Segment,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Profit
0,11/8/2016,Claire Gute,Consumer,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.96,2,41.9136
1,11/8/2016,Claire Gute,Consumer,Henderson,Kentucky,42420,South,Furniture,Chairs,731.94,3,219.5820
2,6/12/2016,Darrin Van Huff,Corporate,Los Angeles,California,90036,West,Office Supplies,Labels,14.62,2,6.8714

In [10]:
df.columns

Index(['Order Date', 'Customer Name', 'Segment', 'City', 'State',
       'Postal Code', 'Region', 'Category', 'Sub-Category', 'Sales',
       'Quantity', 'Profit'],
      dtype='object')

In [30]:
# pd.pivot_table(data = df, index=["State"])
# pd.pivot_table(
#     data=df,
#     index=["State"],
#     values=df.select_dtypes(include='number').columns,
#     aggfunc='mean'
      
# )


pd.pivot_table(
    data=df,
    index=["State"], # Still optional
    values=df.select_dtypes(include='number').columns,
)

                       Postal Code      Profit  Quantity        Sales
State
Alabama               35994.573770   94.865989  4.196721   319.846557
Arizona               85277.348214  -15.303235  3.848214   157.508933
Arkansas              72321.816667   66.811452  4.000000   194.635500
California            92145.246877   38.171608  3.831584   228.729451
Colorado              80295.758242  -35.867351  3.807692   176.418231
Connecticut            6475.670732   42.823071  3.426829   163.223866
Delaware              19755.250000  103.930988  3.822917   285.948635
District of Columbia  20016.000000  105.958930  4.000000   286.502000
Florida               33003.198433   -8.875461  3.600522   233.612815
Georgia               30899.347826   88.315453  3.831522   266.825217
Idaho                 83462.333333   39.367767  3.047619   208.689810
Illinois              60719.048780  -25.625787  3.750000   162.939230
Indiana               46923.503356  123.375411  3.879195   359.431946
Iowa                  51256.900000   39.460397  3.733333   152.658667
Kansas                66824.916667   34.851813  3.083333   121.429583
Kentucky              41189.467626   80.573357  3.762590   263.250000
Louisiana             70777.357143   52.288150  3.714286   219.453095
Maine                  4340.625000   56.810775  4.375000   158.816250
Maryland              21016.571429   66.963608  4.000000   225.766886
Massachusetts          1987.370370   50.262975  3.637037   212.106919
Michigan              48455.305882   95.934069  3.709804   299.096525
Minnesota             55418.247191  121.608847  3.719101   335.541011
Mississippi           39189.113208   59.867475  4.169811   203.232830
Missouri              65126.696970   97.518341  3.818182   336.441667
Montana               59491.733333  122.221900  3.733333   372.623467
Nebraska              68121.421053   53.607742  3.578947   196.445526
Nevada                89136.846154   85.045279  4.307692   428.951333
New Hampshire          3475.370370   63.203807  4.703704   270.093481
New Jersey             7753.338462   75.176260  3.492308   275.110092
New Mexico            87609.621622   31.273408  4.081081   129.284378
New York              10492.660461   65.637011  3.744681   275.599531
North Carolina        28089.895582  -30.083985  3.947791   223.305880
North Dakota          58103.000000   32.878529  4.285714   131.415714
Ohio                  43880.247335  -36.186304  3.750533   166.861697
Oklahoma              73683.636364   73.544788  3.742424   298.233182
Oregon                97355.846774   -9.600569  4.024194   140.573790
Pennsylvania          19063.994889  -26.507598  3.667802   198.487077
Rhode Island           2908.535714  130.100523  3.553571   404.070643
South Carolina        29287.333333   42.120395  4.095238   201.945476
South Dakota          57227.500000   32.902358  3.500000   109.630000
Tennessee             37653.409836  -29.189583  3.721311   167.551219
Texas                 76901.211168  -26.121174  3.780711   172.779742
Utah                  84195.622642   48.047802  4.132075   211.699170
Vermont                5408.000000  204.088936  4.545455   811.760909
Virginia              22876.495536   83.026564  3.986607   315.342500
Washington            98145.626482   66.013146  3.721344   273.994605
West Virginia         26003.000000   46.480400  4.500000   302.456000
Wisconsin             53633.672727   76.380004  4.209091   291.951000
Wyoming               82001.000000  100.196000  4.000000  1603.136000

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order Date     9994 non-null   object
 1   Customer Name  9994 non-null   object
 2   Segment        9994 non-null   object
 3   City           9994 non-null   object
 4   State          9994 non-null   object
 5   Postal Code    9994 non-null   int64
 6   Region         9994 non-null   object
 7   Category       9994 non-null   object
 8   Sub-Category   9994 non-null   object
 9   Sales          9994 non-null   float64
 10  Quantity       9994 non-null   int64
 11  Profit         9994 non-null   float64
dtypes: float64(2), int64(2), object(8)
memory usage: 937.1+ KB